@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


.Dfooter{
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    background-color: #4c0bce;
    color: azure;  

    .tfinal{    
        font-size: 20px;
        font-family: 'Concert One';        
    }
}
