@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
h1{
    font-size: 40px;
    font-family: 'Concert One';    
    color: azure;   
}
.Dheader{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    min-height: 70px;
    background-image: radial-gradient(circle, #4c0bce, #591cd7, #6528e1, #7134ea, #7c3ff4);
    align-items: center;
    justify-content: center;
    padding: 10px;
}
